.commentDiv{
  margin-left:5px;
}

.textarea{
  margin-left:15px;
}

.commentparent{
  display: flex;
  margin:20px 10px;
  padding:10px;
  border: 1px solid;  
}
.commentparent button{
  margin-left: 20px;
}

.childContainer{
  margin-left:30px;
}